include mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
    link(rel="stylesheet", href="assets/css/style.css")
    title Document
  body 
    .main
      .container
          include ./header
          ul.header-nav-mobile
            .header-li
              li 
                a(href="#")
                  h6 Home
              li 
                a(href="#")
                  h6 Works      
              li 
                a(href="#")
                  h6 About
            .header-button-contact      
              li
                button
                  .text-contact 
                    p Contact Us
      .banner-container 
        .banner-image
          .banner-image-blue 
            img(src="assets/images/banner/vector-blue.png", alt="")
            .banner-image-arrow2 
              img(src="assets/images/banner/vector-arrow.png", alt="")
            .banner-image-yellow 
              img(src="assets/images/banner/vector-yellow.png", alt="")
            .banner-image-arrow 
              img(src="assets/images/banner/vector-arrow2.png", alt="")
            .banner-image-avatar
              img(src="assets/images/banner/avatar.png", alt="")
              .banner-image-circle
                img(src="assets/images/banner/circle-3colors.png", alt="")
              .banner-image-study 
                img(src="assets/images/banner/vector-study.png", alt="")
        .container
          include ./banner
      .container
        include ./services
      .document-container
        .document-image-hidden
          .document-image-hidden-left
            img(src="assets/images/documentImg/image-left.png", alt="")
          .document-image-hidden-right
            img(src="assets/images/documentImg/image-right.png", alt="")
        .container 
          include ./document
      .bgc-customer
        .container
          include ./customer
      .container
        include ./working-spacing
      .bg-message-right
        img(src="assets/images/message/bg-right.png", alt="")
      .container 
        include ./list-customer
      .bgc-message
        .container 
          include ./message
      .bg-message-left 
        img(src="assets/images/message/bg-left.png", alt="")
      .container 
        include ./question
      .bg-testimonial
        .container 
          include ./testimonials
      .container 
        include ./signup
      .container
        include ./footer
  script.
    const btnMenuMobile = document.querySelector('.btn-mobile-menu');
    const mobileMenu = document.querySelector('.header-nav-mobile');
    const header = document.querySelector('.header');
    const btnCloseMenu = document.querySelector('.btn-close-menu');
    let count=0;
    btnMenuMobile.addEventListener("click",()=> {
      if(btnMenuMobile.style.display="block")
      {
        btnMenuMobile.style.display="none"
        btnCloseMenu.style.display="block"
      }
      //- btnCloseMenu.style.display="block";
      mobileMenu.style.display="block";
      mobileMenu.style.display="flex";
      header.style.height="75px";
      
    })
    btnCloseMenu.addEventListener("click",()=>{
      if(btnCloseMenu.style.display="block")
      {
        btnMenuMobile.style.display="block"
        btnCloseMenu.style.display="none"
      }
        mobileMenu.style.display="none"
        header.style.height="100px";
    })