mixin contentItem(image,heading,subheading,imgIcon)
  .services-content-item
    .icon-item
      img(src=image,alt='')
    .title-item
      h6=heading
      h6=subheading
    .button-item
      button
        img(src=imgIcon,alt='')

mixin title(title,heading)
  h6=title 
  h3=heading

mixin customerItem(number,text)
  .customer-data-item
    .customer-data-item-infor
      .customer-data-item-infor-number
        h2=number
      .customer-data-item-infor-text
        p=text

mixin customerSelect(image,text)
  .customer-satisfaction-select-item
    .icon
      img(src=image, alt="")
    .text
      p=text

mixin testimonialsItem(avatar,name,job,text,start)
  .testimonials-item 
      .testimonials-item-avatar 
          img(src=avatar, alt="")
      .testimonials-item-info
          .testimonials-item-name
              h5=name 
              p=job
          .testimonials-item-text
              p=text
          .testimonials-item-start
              img(src=start, alt="") 